

0-'p0i[
[

]+:>.DS_Store
node_modules

/dist
l=o9

0# local env files
.env.local
.env.*.local

# Log files
npm-debug.lo99999g*00o9
y09o 
o 01a0r00 n-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
